/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --fint-family: 'Inter-Variable', sans-serif;
  --accent-fint-family: 'PressStart2P', fantasy, sans-serif;
  --font-weight-small: 400;
  --font-weight-bold: 700;
  --none: none;
  --transition-ease: 0.3s ease;

  --inlin-size: clamp(min(100%,371px), -0.5rem + 101.2vw, 700px);

  --accent-light-color: #fff;
  --accent-dark-color: #000;
  --heart-accent-color: #f00;
  --transparent-dark-color: rgba(0 0 0 / 0.7);

  --gradient-color-to-right: #d3d3d3;
  --transparent-color: rgba(0 0 0 / 0);
  --gradient-color-to-top-light: #e7e7e7;
  --gradient-color-to-top-dark: #1a1a1a;

  --text-shadow: 1px 0 0 var(--accent-light-color),
    1px 0 0 var(--accent-light-color), 0 1px 0 var(--accent-light-color),
    0 1px 0 var(--accent-light-color), -1px 0 0 var(--accent-light-color),
    -1px 0 0 var(--accent-light-color), 0 -1px 0 var(--accent-light-color),
    0 -1px 0 var(--accent-light-color);

  --background-gradient:
  repeating-linear-gradient(
    90deg, 
    var(--gradient-color-to-right) 0 2px, 
    var(--transparent-color) 2px 4px ), 
  repeating-linear-gradient(
    0deg, 
    var(--gradient-color-to-right) 0 2px, 
    var(--transparent-color) 2px 4px ), 
  linear-gradient( 
    var(--gradient-color-to-top-light) 0%, 
    var(--gradient-color-to-top-light) 0.1%, 
    var(--gradient-color-to-top-dark) 100% );
}
